@import url(reset.css);

html, body {
    height: 100%;
}

#clock {
    height: 420px;
    width: 420px;
}

canvas {
    position: absolute;
}

#hands {
}

#face {
}

#pendulum {
}
