@import url(reset.css);

html, body {
  height: 100%;
}

#clock {
  // position: relative;
  // width: 420px;
  height: 420px;
  border: solid 1px red;
}

canvas {
  // position: absolute;
  border-radius: 1000px;
}

#face {
  border: solid 0.5px black;
}

#hands {
  border: solid 1px black;
}

#pendulum {
  border: solid 1px black;
}
